# Application configs
APP_NAME=product-service
APP_ENV=development # Options: development, staging, production
APP_VERSION=1.0.0

# Server configs
PORT=7070 # Positive integer port

# Database configs
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@db.evgotinlxjijpglixpmn.supabase.co:5432/postgres
DB_MAX_CONNS=25 # Positive integer (e.g., 10, 25, 50)
DB_MIN_CONNS=2 # Positive integer (e.g., 2, 5)
DB_AUTO_MIGRATE=true # Options: true, false
DB_MIGRATIONS_PATH=./migrations

# Logging & Observability configs
LOG_LEVEL=info # Options: debug, info, warn, error
LOG_FORMAT=json # Options: json, text
TRACING_ENABLED=true # Options: true, false
TRACING_EXPORTER=stdout # Options: stdout, otlp, noop
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317 # Host:Port string
