ENV=development
LOG_LEVEL=info

AUTH_SERVICE_PORT=9451
USER_SERVICE_PORT=5050
PRODUCT_SERVICE_PORT=7070
CATEGORY_SERVICE_PORT=7080
STORE_SERVICE_PORT=7500
MERCHANT_SERVICE_PORT=7600
CART_SERVICE_PORT=8181
INVENTORY_SERVICE_PORT=8300
ORDER_SERVICE_PORT=8500
PAYMENT_SERVICE_PORT=8888
DELIVERY_SERVICE_PORT=9050
RETURN_SERVICE_PORT=9150
RATING_SERVICE_PORT=5555
NOTIFICATION_SERVICE_PORT=9099

# Message Broker (Kafka)
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=gocart-service
KAFKA_CONNECT_TIMEOUT=10s
KAFKA_MAX_RETRIES=3
KAFKA_RETRY_INTERVAL=1s
