# Application configs
APP_NAME=api-gateway
APP_ENV=development # Options: development, staging, production
APP_VERSION=1.0.0

# Server configs
PORT=8080 # Positive integer port

# Logging & Observability configs
LOG_LEVEL=debug # Options: debug, info, warn, error
LOG_FORMAT=json # Options: json, text
TRACING_ENABLED=false # Options: true, false
TRACING_EXPORTER=stdout # Options: stdout, otlp, noop
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317 # Host:Port string

# GraphQL configs
GRAPHQL_PLAYGROUND_ENABLED=true # Options: true, false
